@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.woff") format('woff');
}

@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "GT-America";
    src: url("../fonts/GT-America-Regular.woff") format('woff');
}

@font-face {
    font-family: "GT-America";
    src: url("../fonts/GT-America-Expanded-Bold.woff") format('woff');
    font-weight: bold;
}

body {
  background-image: url(../images/bg-long.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-attachment: scroll;
  background-color: #0B59F7;
  padding-bottom: 10%;
}

h1 {
    font-family: 'GT-America';
    font-weight: bold;
}

.emph{
  color: #f2f2f2;
  font-weight: bold;
  background: url(../images/underline-jagged.svg) repeat-x;
  background-position: -50px 100%;
  padding-bottom: 1px;
  -webkit-animation: zoom-reset 1.0s ease-out 1;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

h1:hover{
  color: #000;

  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

h3 {
  font-size: large;
}

h2,h3,h4,h5,h6{
  font-family: 'Karla';
}

.img-text:hover, a:hover{
  color: #000;

  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;

  text-decoration: none;
}

.img-text{
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a{
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.big-title{
  font-size: 72px;
}

.header-col{
  margin-top:2%;
}

.sub-title{
  margin-bottom: 50px;
}

.mockup-row{
  margin-top: 5%;
}

.hd-screenshot{
  max-width: 75%;
  border-style: dashed;
}

.horizontal-centre{
  padding-top: 15vh;
}
